@page "/students"
@using Models
<PageTitle>Lista studentów</PageTitle>
<h3>Lista studentów</h3>

<div class="mt-3">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <th scope="row">@student.StudentId</th>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                </tr>
            }
        </tbody>
    </table>
    <h4 class="mt-5">Dodaj studenta</h4>
    <div class=row>
         <div class="col-sm">
            <div class="form-group mt-2">
                <label for="firstName">Imię</label>
                <input type="text" class="form-control" id="firstName" @bind-value="@newStudent.FirstName">
            </div>
            <div class="form-group mt-2">
                <label for="lastName">Nazwisko</label>
                <input type="text" class="form-control" id="lastName" @bind-value="@newStudent.LastName">
            </div>
            <button class="btn btn-primary mt-3" @onclick="AddStudent">Zapisz</button>
         </div>
         <div class="col-sm"></div>
         <div class="col-sm"></div>
    </div>

</div>


@code {

        List<Student> students;
        Student newStudent = new Student();

        protected override void OnInitialized()
        {
            students = new List<Student>()
            {
                new Student(1, "Andrzej", "Herman"),
                new Student(2, "Agata", "Nowak"),
                new Student(3, "Jan", "Kowalski"),
                new Student(4, "Roman", "Kluska"),
                new Student(5, "Tadeusz", "Rydzyk"),
            };
        }

        void AddStudent()
        {
            newStudent.StudentId = students.Max(s => s.StudentId) + 1;
            students.Add(newStudent);
        }
}

